*.pyc
*.log
node_modules
coverage/
arches76/logs
arches76/export_deliverables
arches76/cantaloupe/*
arches76/staticfiles
arches76/media/packages
arches76/media/build/
arches76/uploadedfiles/*
arches76/settings_local.py
webpack-stats.json
.vscode/
*.egg-info
.DS_STORE
CACHE
.tsconfig-paths.json
.frontend-configuration-settings.json
